/* The style of a default node. */
.node {
  width: 30px;
  height: 30px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  box-sizing: border-box;
  background-color: #ffffff;
  /*background-color: rgb(28, 38, 56);*/
}

/* The bounds of the node, to make sure the bounds
don't change during resizing animations */
.node-bounds {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #131313;
}

.node-target {
  background-image: url("../Images/icons8-empty-flag-90.png");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.node-target-reached {
  background-color: rgb(42, 60, 94);
  animation-name: nodeTargetReached;
  overflow: hidden;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-image: url("../Images/icons8-empty-flag-90.png");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.node-start {
  background-image: url("../Images/icons8-launch-90.png");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center center;
}

.node-visited {
  animation-name: isVisited;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-path-horizontal {
  background-color: rgb(42, 60, 94);
  background-image: url(../Images/horizontal-line.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  animation-name: pathAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-path-vertical {
  background-color: rgb(42, 60, 94);
  background-image: url(../Images/vertical-line.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  animation-name: pathAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-path-ul {
  background-color: rgb(42, 60, 94);
  background-image: url(../Images/ul.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  animation-name: pathAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-path-ur {
  background-color: rgb(42, 60, 94);
  background-image: url(../Images/ur.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  animation-name: pathAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-path-bl {
  background-color: rgb(42, 60, 94);
  background-image: url(../Images/bl.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  animation-name: pathAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-path-br {
  background-color: rgb(42, 60, 94);
  background-image: url(../Images/br.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  animation-name: pathAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-path-landing-pad {
  background-color: rgb(42, 60, 94);
  background-image: url(../Images/landing-pad.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  animation-name: pathAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-wall {
  /*background-color: rgb(18, 25, 34);*/
  background-color: rgb(18, 25, 34);
  /*border-color: whitesmoke;*/
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes isVisited {
  0% {
    background-color: rgb(64, 211, 255);
    transform: scale(0.3);
  }
  50% {
    background-color: rgb(211, 64, 255);
    transform: scale(1.2);
    border-color: rgb(211, 64, 255);
  }
  100% {
    /*background-color: rgb(28, 38, 56);*/
    background-color: rgb(42, 60, 94);
    transform: scale(1);
    border-color: rgb(18, 25, 34);
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pathAnimation {
  0% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes nodeTargetReached {
  0% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.3);
  }
}
