.node {
    width: 28px;
    height: 28px;
    /*outline: 1px solid rgb(42, 54, 75);*/
    border-top: 1px;
    border-left: 1px;
    border-bottom: 0px;
    border-right: 0px;
    border-color: rgb(42, 54, 75);
    border-style: solid;
    display: inline-block;
    background-color: rgb(23, 32, 47);
    /*border: 1px solid rgb(42, 54, 75);
    box-sizing: border-box;*/
}

/* The bounds of the node, to make sure the bounds
don't change during resizing animations */
.node-bounds {
    width: 28px;
    height: 28px;
    display: inline-block;
    /*border-top: 1px;
    border-left: 1px;
    border-bottom: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: rgb(42, 54, 75);*/
    background-color: rgb(23, 32, 47);
}

.node-finish {
    background-color: rgb(255, 64, 96);
}

.node-start {
    background-color: rgb(64, 255, 160);
}

.node-visited {
    /*background-color: blue;*/
    animation-name: isVisited;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-path {
    animation-name: pathAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    background-color: rgb(211, 64, 255);
    /*border-color: rgb(211, 64, 255);*/
}

.node-wall {
    background-color: whitesmoke;
    border-color: whitesmoke;
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

body {
    background-color: rgb(42, 54, 75);
}

@keyframes isVisited {
    0%   {
        background-color: rgb(64, 211, 255);
        transform: scale(0.3);
        /*border-radius: 100%;*/
    }
    50%  {
        background-color: rgb(211, 64, 255);
        transform: scale(1.2);
        border-color: rgb(211, 64, 255);
    }
    /*75%  {
        background-color: rgb(222, 222, 94);
        transform: scale(1.2);
    }*/
    100% {
        background-color: rgb(23, 32, 47);
        transform: scale(1);
    }
}

@keyframes wallAnimation {
    0% {
        transform: scale(0.3);
        background-color: whitesmoke;
    }
    50% {
        transform: scale(1.2);
        background-color: whitesmoke;
    }
    100%  {
        transform: scale(1);
        background-color: whitesmoke;
    }
}

@keyframes pathAnimation {
    0% {
        transform: scale(0.3);
    }
    50% {
        transform: scale(1.2);
    }
    100%  {
        transform: scale(1);
    }
}