.credits {
  background-color: white !important;
}

.credits .credit {
  text-align: left;
  color: #404040;
  display: block;
}

.credits > *:not(:last-child) {
  margin-bottom: 10px;
}

.credit > img {
  margin-right: 20px;
}
