#skip-button {
  background-color: whitesmoke;
  box-shadow: -6px 6px 20px 10px rgb(0, 0, 0, 0.05);
}

#continue-button {
  background-color: rgb(72, 191, 255);
  box-shadow: -3px 3px 16px 4px rgba(57, 153, 204, 0.2);
  color: white;
}

#tutorial-container {
  width: 400px;
}

#tutorial-buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  white-space: nowrap;
}

#tutorial-buttons > button {
  border: none;
  border-radius: 10px;
  padding: 16px;
}

#tutorial-buttons > button:hover {
  animation-name: scaleEffect;
  animation-duration: 1.2s;
}

#tutorial-buttons > button:active {
  position: relative;
  top: 2px;
  box-shadow: -6px 6px 20px 10px rgb(0, 0, 0, 0.025);
}

#tutorial-buttons > button:not(:last-child) {
  margin-right: 20px;
}

#tutorial-title {
  margin-bottom: 40px;
  text-align: left;
  font-family: Jost-Bold;
}

#tutorial-description {
  margin-bottom: 20px;
  line-height: 140%;
  text-align: left;
}

#page0-img {
  display: inline-block;
  width: 40px;
  margin-bottom: 40px;
  transform: rotate(45deg);
}

#rules-grid {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-template-rows: 40px 40px 40px;
  gap: 1px;
  margin-bottom: 40px;
  grid-template-areas:
    ". top ."
    "left center right"
    ". bottom .";
}

#top-node {
  grid-area: top;
}
#right-node {
  grid-area: right;
  background-image: url("../../Images/weight-plates.svg");
  background-size: contain;
}
#left-node {
  grid-area: left;
}
#center-node {
  grid-area: center;
  background-image: url("../../Images/icons8-launch-90.png");
  background-size: contain;
}
#right-node::after {
  position: absolute;
  content: "5";
  background-color: #404040;
  padding: 1px 3px 1px 3px;
  border-radius: 50vw;
  color: white;
}
#bottom-node {
  grid-area: bottom;
}

.rules-node {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 40px;
  background-color: whitesmoke;
}
