#container {
  position: relative;
  vertical-align: bottom;
  margin-right: 100px;
}

#brushes-img {
  pointer-events: all;
  cursor: auto;
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -6px 6px 20px 10px rgb(0, 0, 0, 0.05);
}

.toggle {
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  vertical-align: middle;
  box-shadow: -6px 6px 20px 10px rgb(0, 0, 0, 0.05);
}

.toggle button {
  border-radius: 0;
  box-shadow: none;
}

.toggle button:active {
  box-shadow: none;
}

.toggle .unselected {
  color: rgb(212, 212, 212);
}
