.hint-container {
  position: absolute;
  z-index: 10;
  top: 100%;
  margin-top: 20px;
  left: 0%;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  animation-name: fadeIn;
  animation-duration: 0.6s;
  box-shadow: -6px 6px 20px 10px rgb(0, 0, 0, 0.025);
  font-size: 8pt;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
